.tabs {
  width: 200px;
  margin: 0px auto;
  background-color: #FFF;
  border: 1px solid #C0DCC0;
  box-sizing: border-box;
}
.tabs nav {
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  background-color: #C0DCC0;
  /* 伸缩盒模型 */
  display: flex;
}
nav a {
  display: block;
  width: 100px;
  border-right: 1px solid #FFF;
  color: #000;
  text-decoration: none;
}
nav a:last-child {
  border-right: none;
}
nav a.active {
  background-color: #9BAF9B;
}
.cont {
  overflow: hidden;
  display: none;
}
.cont ol {
  line-height: 33px;
}