 #container{
  width:1000px;
  }
  #header{
  background:#dddddd;
  height:50px;
  }
  #left{
  /*background:#acf;*/
  background:#acf;
  float:left;
  height:600px;
  width:200px;
  }
  #content{
  background:#fff;
  height:600px;
  }
  #footer{
  clear:both;
  background:#ddddcc;
  height:50px;
  }